body {
    background: #313d46;
    color:#81816f;
    font-family: "Nunito", sans-serif;
    margin: 0px;
    height: 100%;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100vw;
    height: 10vh;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #444747;
    font-weight: bold;
    opacity: .6;
    transition: opacity .6s;
}
.mytabs label:hover {
    opacity: 1;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #616464;
    order: 1;
    display: none;
    transition: display .3s;
}
.mytabs .tab h2, p {
    color: #ffffff;
    size: 10px;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #616464;
    opacity: 1;
}

.models {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.model {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: silver;
    font-size: 10px;
    background-color: #838c91;
    border: #838c91 40px solid;
    border-radius: 40px;
    opacity: .6;
    transition: transform opacity .6s ease
}
.model:hover {
    transform: scale(1.2);
    opacity: 1;
}
.model {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}
.mytabs .tab {
    animation: slideX 1s ease;
    -webkit-animation: slideX 1s ease;
}
.mytabs label {
    animation: slideY 1s ease;
    -webkit-animation: slideY 1s ease;
}
model-viewer {
    transition: transform .4s ease;
}
model-viewer:hover {
    transform: scale(1.2);
}
@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
 }
 @keyframes slideX {
     from{transform:scaleX(1)}
     40%{transform:scaleX(.6)}
     to{transform:scaleX(1)}
 }
 @keyframes slideY {
    from{transform:scaleY(1)}
    40%{transform:scaleY(.3)}
    to{transform:scaleY(1)}
}